html, body {
margin:0;
background-color:#369ee2;
font-size:12pt;
}

.hidden {
display:none !important;
}

.wrapper {
min-width:1024px;
margin: 0 auto;
height:100%;
min-height:100%;
background-color:#fcfdfd;
}

.headerWrapper {
background-image:url('../images/header_wrapper.png'); /* cheating */
background-repeat:no-repeat;
background-position:0px 0%;
background-color:#16519b;	
width:100%;
}

.headerAlign {
height:172px;
max-width: 1640px;
margin: 0 auto;
}

.header {
background-image:url('../images/aiden_header.png');	
background-repeat:no-repeat;
background-position:0px 0%;
height:172px;
}

.main {
background-image:url('../images/aiden_subHeader.png');	
background-repeat:no-repeat;
background-position:105px 0%;
max-width: 1640px;
margin: 0 auto;
}

.content {
margin:0px 75px;
clear: both;
padding:30px;
padding-top:60px;
}

h1 {
font-family:Lucida Sans Unicode;	
font-size:2em;
font-weight:700;
color:#155b89;
text-shadow: 2px 2px 1px #e5e5e5;
}

h2 {
font-family:Lucida Sans Unicode;	
font-size:1em;
font-variant:small-caps;
color:#2b8bc9;
text-shadow: 0 0 5px #ffffff;
margin-bottom:.5em;
}

h2 a { 
font-family:Lucida Sans Unicode;	
font-size:1em;
font-variant:small-caps;
color: #2b8bc9; 
}

h4 {
font-family:Lucida Sans Unicode;	
font-size:.9em;
color:#155b89;
text-shadow: 0 0 5px #ffffff;
margin-bottom:.5em;
margin-top:.5em;
}

label {
font-family:Lucida Sans Unicode;	
font-size:1em;
font-variant:small-caps;
color:#2b8bc9;
text-shadow: 0 0 5px #ffffff;
margin-bottom:.5em;
}

.calc_table {
width: 320px; 
margin-right:25px; 
float:left;
}

.calc_labels {
text-align:right;
padding-right:10px;
padding-top:5px;
padding-bottom:5px;
}

.calc_values {
font-family:Lucida Sans Unicode;	
font-size:.9em;
color:#155b89;
text-shadow: 0 0 5px #ffffff;	
}

.output_table {
margin-top:29px;

}

.calc_outputs {
width:65px;  
height:45px;
text-align:right;
padding-right:5px;
}

.calc_outputs label span { color:#155b89; font-weight:bold; }

input[type="text"] {
width:60px;
padding:2px;
font-size:.8em;
font-family:Lucida Sans Unicode;
}

.distribution {

}

.distribution td {
padding:6px 10px;
font-family:Lucida Sans Unicode;
color:#8e9396;
font-size:.80em;
text-align:center;
}

.dist_headers td {
font-family:Lucida Sans Unicode;	
font-size:1em;
font-variant:small-caps;
color:#2b8bc9;
text-shadow: 0 0 5px #ffffff;
}

.current_block td { font-weight:bold; color:#155b89; }

p {
font-family:Lucida Sans Unicode;	
font-size:.80em;
margin:1em 0em;
color:#8e9396;
line-height:1.5em;
}

p a {
font-family:Lucida Sans Unicode;	
font-size:1em;
color:#155b89;
}

p a:hover {
color:#2b8bc9;
}

.content hr {
width:100%;
margin:20px auto;
border:0;
border-top:6px solid #3091d1;
}

ul {
list-style-type:disc;
margin:.75em 2em;
font-family:Lucida Sans Unicode;	
font-size:.80em;
}

li {
margin:1.5em 0em;
font-family:Lucida Sans Unicode;	
font-size:1em;
color:#8e9396;
}

li a {
	color:#155b89;
}

li a:hover {
	color:#2b8bc9;
}


.conf a {
	text-decoration:underline;
	cursor:pointer;
}

.codeBox {
width:auto;
overflow:auto;    
padding:5px;
}

.codeBox pre {
border:0px;
padding:0px;
font-family:Lucida Sans Unicode;	
font-size:.80em;
color:#8e9396;
}

.codeBox code {
font-size:0.9em;
padding:0px;
}

.hidden { display: none; }

.sideBox {
padding-top:7px;
padding-right:0px;
margin:0px 0px 30px 15px;
width:240px;
float:right;
}

.subHeader { font-size: 1.5em !important; }

.quickLink {
	height:1em;
	line-height:1em;
	margin:1em;
	display:inline;
}

.quickLink:hover {
	cursor:pointer;
}

.quickLink:hover div { background-color:#3a3a3a; }
.quickLink:hover span {  }

.quickLink div {
	display:inline-block;
	background-color:#216ea0; 
	height:1em; 
	width:1em;
}

.quickLink span {
	display:inline;	
	font-size: .85em;
	font-family: Lucida Sans Unicode;
	color:#155b89;
}

.leftContent {
float:left;
border-right:2px solid #6691ad;
margin-right:3em;
}

.rightContent {
width: auto;
overflow: auto;
}