html, body {
margin:0;
background-color:#e9f0f4;
font-size:12pt;
}

.hidden {
display:none !important;
}

.wrapper {
min-width:1024px;
max-width:1440px;
margin: 0 auto;
height:100%;
min-height:100%;
background-color:#fcfdfd;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.headerWrapper {
background-image:url('../images/header_bg.png');
height:219px;
}

.header {
background-image:url('../images/header_sprite.png');	
background-repeat:no-repeat;
background-position:42px 0%;
height:219px;
}

.aiden {
position: absolute;
height: 219px;
width: 145px;
margin-left: 75px;
}

.glow {
background-position:42px -219px;;
height:219px;
}

.content {
margin:0px 30px;
clear: both;
padding:30px;
}

h1 {
font-family:Lucida Sans Unicode;	
font-size:2em;
font-weight:700;
color:#155b89;
text-shadow: 2px 2px 1px #e5e5e5;
}

h2 {
font-family:Lucida Sans Unicode;	
font-size:1em;
font-variant:small-caps;
color:#2b8bc9;
text-shadow: 0 0 5px #ffffff;
margin-bottom:.5em;
}

h4 {
font-family:Lucida Sans Unicode;	
font-size:.9em;
color:#155b89;
text-shadow: 0 0 5px #ffffff;
margin-bottom:.5em;
margin-top:.5em;
}

p {
font-family:Lucida Sans Unicode;	
font-size:.80em;
margin:1em 0em;
color:#8e9396;
line-height:1.5em;
}

.content hr {
width:100%;
margin:20px auto;
border:0;
border-top:6px solid #3091d1;
}

ul {
list-style-type:disc;
margin:.75em 2em;
font-family:Lucida Sans Unicode;	
font-size:.80em;
}

li {
margin:1.5em 0em;
font-family:Lucida Sans Unicode;	
font-size:1em;
color:#8e9396;
}

li a {
	color:#155b89;
}

li a:hover {
	color:#2b8bc9;
}

.sideBox {
margin:30px 0px 30px 30px;
width:20%;
float:right;
border-left:1px solid #e5e5e5;
border-top:1px solid #e5e5e5;
border-right:1px solid #f5f3f3;
border-bottom:1px solid #f5f3f3;
padding:0em 0em 0em 0em;
text-align:center;
}

.sideBox h3 {
font-family:Lucida Sans Unicode;	
color:#155b89;
font-size:1.1em;
padding: .5em 0em;
text-transform:uppercase;
background-color:#fbfbfb;
}

.sideBox ul {
list-style-type:square;
color:#155b89;
margin:.5em 2em;
}

.sideBox li {
text-align:left;
margin-top:1.25em;
margin-bottom:1.25em;
font-size:.85em;
}

.sideBox li:first-child {
margin-top:0em;
}

.sideBox li div {
color:#303335;
margin-bottom:.2em;
font-size:1.3em;
}

.quickLink {
	height:1em;
	line-height:1em;
	margin:1em;
	display:inline;
}

.quickLink:hover {
	cursor:pointer;
}

.quickLink:hover div { background-color:#3a3a3a; }
.quickLink:hover span {  }

.quickLink div {
	display:inline-block;
	background-color:#216ea0; 
	height:1em; 
	width:1em;
}

.quickLink span {
	display:inline;	
	font-size: .85em;
	font-family: Lucida Sans Unicode;
	color:#155b89;
}

.leftContent {
float:left;
border-right:2px solid #6691ad;
margin-right:3em;
}

.rightContent {

}