html, body {
margin:0;
background-color:#e9f0f4;
font-size:12pt;
}

.hidden {
display:none !important;
}

.wrapper {
min-width:1024px;
max-width:1440px;
margin: 0 auto;
height:100%;
min-height:100%;
background-color:#fcfdfd;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.headerWrapper {
background-color:#369ee2;
height:172px;
}

.header {
background-image:url('../images/aiden_header.png');	
background-repeat:no-repeat;
background-position:42px 0%;
height:172px;
}

.main {
background-image:url('../images/aiden_subHeader.png');	
background-repeat:no-repeat;
background-position:105px 0%;
}

.content {
margin:0px 30px;
clear: both;
padding:30px;
padding-top:50px;
}

h1 {
font-family:Lucida Sans Unicode;	
font-size:2em;
font-weight:700;
color:#155b89;
text-shadow: 2px 2px 1px #e5e5e5;
}

h2 {
font-family:Lucida Sans Unicode;	
font-size:1em;
font-variant:small-caps;
color:#2b8bc9;
text-shadow: 0 0 5px #ffffff;
margin-bottom:.5em;
}

h4 {
font-family:Lucida Sans Unicode;	
font-size:.9em;
color:#155b89;
text-shadow: 0 0 5px #ffffff;
margin-bottom:.5em;
margin-top:.5em;
}

p {
font-family:Lucida Sans Unicode;	
font-size:.80em;
margin:1em 0em;
color:#8e9396;
line-height:1.5em;
}

.content hr {
width:100%;
margin:20px auto;
border:0;
border-top:6px solid #3091d1;
}

ul {
list-style-type:disc;
margin:.75em 2em;
font-family:Lucida Sans Unicode;	
font-size:.80em;
}

li {
margin:1.5em 0em;
font-family:Lucida Sans Unicode;	
font-size:1em;
color:#8e9396;
}

li a {
	color:#155b89;
}

li a:hover {
	color:#2b8bc9;
}

.conf a {
	text-decoration:underline;
	cursor:pointer;
}

.codeBox {
width:auto;
overflow:auto;    
padding:5px;
}

.codeBox pre {
border:0px;
padding:0px;
font-family:Lucida Sans Unicode;	
font-size:.80em;
color:#8e9396;
}

.codeBox code {
font-size:0.9em;
padding:0px;
}

.hidden { display: none; }

.sideBox {
padding-top:7px;
padding-right:0px;
margin:0px 0px 30px 30px;
width:340px;
float:right;
}

.subHeader { font-size: 1.5em !important; }

.quickLink {
	height:1em;
	line-height:1em;
	margin:1em;
	display:inline;
}

.quickLink:hover {
	cursor:pointer;
}

.quickLink:hover div { background-color:#3a3a3a; }
.quickLink:hover span {  }

.quickLink div {
	display:inline-block;
	background-color:#216ea0; 
	height:1em; 
	width:1em;
}

.quickLink span {
	display:inline;	
	font-size: .85em;
	font-family: Lucida Sans Unicode;
	color:#155b89;
}

.leftContent {
float:left;
border-right:2px solid #6691ad;
margin-right:3em;
}

.rightContent {

}